@model Buy_And_Sell_House_Core_Webapp.Business.Seller

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.House)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.House.HouseAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellerPhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-info"  /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
