@model Buy_And_Sell_House_Core_Webapp.Business.Buyer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Buyer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BuyerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyerPhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyerPhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info"  asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
