@model IEnumerable<Buy_And_Sell_House_Core_Webapp.Business.House>

@{
    ViewData["Title"] = "Index";
}

<h2>Houses</h2>

<p>
    <a class="btn btn-info"  asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HousePrice)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-info" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
